body {
    padding-bottom: 20px;
    background: #f7fafd;
    padding-top: 50px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,600;1,400&display=swap');

* {
     margin: 0;
     padding: 0;
     border: 0;
     box-sizing: border-box;
     font-family: 'Nunito', sans-serif;
}

.btn-primary {
    border: none !important;
}

.lead {
    font-size: 1.15rem;
}

.form-row {
    margin-right: 0;
    margin-left: 0;
}

#loginForm {
    background-color: white;
    width: 40vw;
    margin: auto;
}
#loginForm h2 {
    padding: 10px;
}
#loginForm .form-group {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
}
#loginForm .form-group label {
    width: 80%;
}
#loginForm .form-group input {
    width: 60%;
    margin-right: 145px;

}

/*SideNav*/
.sidenav {
  height: 100%;
  width: 330px; 
  position: fixed;
  background-color: #042331;
  z-index: 4; /* Stay on top */
  top: 0; /* Stay at the top */
  transform: translate(-150%,0px);
  transition:all 0.5s ease-in-out;
  overflow-x: hidden;
  margin-top: 30px;
  padding-top: 21px;
}
.sidenav header {
    font-size: 22px;
    color: white;
    text-align: center;
    line-height: 65px;
    background: #063146;
    user-select: none;
}
.sidenav header img {
    margin-left: 20px;
    background-color: white;
    width: 20px;
    height: 20px;
}
.sidenav a {
  list-style-type: none;
  text-decoration: none;
  font-size: 20px;
  color:white;
  display: block;
  height: 100%;
  padding-left: 30px;
  line-height: 60px;
  box-sizing: border-box;
  border-top: 1px solid rgba(255,255,255,.1);
  border-bottom: 1px solid black;
  transition: .4s;
}
.sidenav a:hover {
  padding-left: 50px;
}
.sidenav a img {
    width: 30px;
    height: 30px;
    margin-right: 16px;
}
.sidenav.active {
  transform: translate(0%,0px);
  transition:all 0.75s ease-in-out;
}

#openSideNav {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

/*Homepage*/
.navbar {
    height: 55px !important;
    background-color: #042331 !important;
    font-size: 17px;
}
.brand_logo {
    color: #e21156 !important;
    font-size: 25px;
}
.brand_logo span {
    color: white;
}

.nav a, .nav-link {
    color: white !important;
    opacity: 0.8;
    text-decoration: none !important;
}
.nav a:hover, .nav-link:hover {
    opacity: 1;
}

.nav .button {
    margin-left: 20px;
    color: white !important;
}

.first-nav {
    display: flex;
    justify-content: center;
    align-items: center;
}
.first-nav button {
    align-self: center;
    margin-bottom: 20px !important;
}
.second-nav {
    display: flex;
    justify-content: center;
    align-items: center;
}
.second-nav button {
    align-self: center;
    margin-bottom: 20px !important;
}

.button {
     color: white !important;
     background: #063146 !important;
     padding: 3px 24px !important;
     height: 35px;
     opacity: 1 !important;
     border-radius: 4px;
     font-size: 18px;
     transition: background-color 0.1s ease-in-out;
}
.button:hover {
    background-color: #bf104a !important;
    border-color: #eb3370 !important;
}

.hero .content {
     background-image: url("../designImages/main-background-image.jpg");
     background-size: cover;
     background-position: center;
     height: 70vh;
     max-height: 600px;
     width: 100%;
     margin-bottom: 112px;
     display: flex;
     flex-direction: column;
     align-items: center;
     margin-bottom: 40px;
}

.hero .content::before {
    content: '';
    position: absolute;
    top: 54px;
    left: 0;
    width: 100%;
    height: 69.4vh;
    background: rgba(0, 0, 0, 0.5);
}

.hero .content * {
    z-index: 1;
}

.hero .content h1 {
     font-size: 70px;
     max-width: 650px;
     margin-top: 70px;
     color: white;
     font-weight: 400;
}

.hero .content h2 {
     font-size: 40px;
     max-width: 650px;
     color: white;
     margin-top: 0px;
     margin-bottom: 50px;
     font-weight: 400;
}

.hero .content h2 span {
    font-weight: 600;
    color: #e21156;
}

.hero .content h1 b{
     font-weight: 600;
}

.hero .content .button {
     width: 200px;
     height: 60px;
     padding: 14px 24px !important;
     text-align: center !important;
     font-size: 20px;
}

.what-we-do {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 140px;
}
.what-we-do .details {
    display: flex;
    flex-direction: row;
    width: 70vw;
    margin-top: 40px;
    justify-content: space-between;
    align-items: center;
}
.what-we-do .details div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.what-we-do .details div img {
    margin-bottom: 30px;
}

.hr {
    border: 1px solid #bf104a;
    width: 20vw;
}

/*Job Index*/
.job-index-header div {
    background-image:url("../designImages/footprint.png");
    height: 100px;
    background-size: cover;
    background-position: center;
    filter: brightness(50%);
    width: 100%;
    margin: 5px auto;
}
.job-index-header h1 {
    position: relative;
    top: -80px;
    color: white;
}

.title-bar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 48px;
}

.title-bar h2 {
    font-size: 32px;
}

.job-cards {
    margin-bottom: 32px;
}

.job-card {
    background: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px;
    margin: 20px 120px 10px 120px;
}
.job-card:hover {
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2), 0 4px 16px 0 rgba(0, 0, 0, 0.19);
}
.job-card:first-of-type{
    margin-top: 30px;
}
.job-card:last-of-type{
    margin-bottom: 40px;
}

.card-start .title {
     display: flex;
     align-items: center;
     margin-bottom: 16px;
}
.card-start .title a {
    text-decoration: none;
}

.card-start .title h3 a {
     font-weight: 400;
     font-size: 24px;
     color: #17729e;
}

.card-start .title .tag {
     background-color: grey;
     color: #ffffff;
     padding: 4px 16px;
     margin-left: 16px;
     border-radius: 24px;
     font-size: 12px;
}

.card-start .meta {
     display: flex;
     align-items: center;
}

.meta-text {
     font-size: 16px;
}

.card-start .meta div {
     display: flex;
     align-items: center;
     margin-right: 16px;
}

.card-start .meta div svg {
     margin-right: 4px;
}

/*Job Details*/
.jobHero{
     max-height: 400px;
}
.jobHero .content h1{
     color: white;
     display: block;
     position: relative;
     top: -75px;
     font-size: 48px;
     width: 100%;
     text-align: center;
     margin: 0 auto;
}
.jobHero .content img {
    width: 100%;
    height: 100px;
    filter: brightness(50%);
}
.job-details-container {
    display: flex;
    flex-wrap: wrap;
    width: 85vw;
    font-size: 15px;
    margin-bottom: 50px;
}
.job-details {
    width: 60%;
    padding: 30px;
    background: white;
}
.job-details .meta {
    margin-bottom: 50px;
}
.job-info div {
    margin-bottom: 30px;
}
#resDiv {
    margin-left: 20px;
}
aside {
     background: #ffffff;
     width: 35%;
     max-width: 350px;
     margin-left: 24px;
     padding: 25px;
}

aside h2 {
     font-size: 20px;
     margin-bottom: 16px;
}

aside p {
     line-height: 27px;
     margin-bottom: 16px;
}

/*Dashboard*/
.dashboard-container {
    margin: 20px auto;
    padding: 35px;
    background-color: white;
    width: 60vw;
}

.profile-pic-container {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin-bottom: 35px;
}
.profile-pic-container h2 {
    align-self: flex-start;
}
.profile-pic-text {
    display: flex;
    flex-direction: column;
}

.profile-pic-images img:first-of-type {
    height: 150px;
    width: 150px;
    border-radius: 50%;
}
.dashboard-actions {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    margin: auto;
    width: 90%;
    height: 300px;
}
.dashboard-actions div {
    display: flex;
    width: 30%;
    padding: 20px;
    flex-direction: column;
    justify-content: space-between;
    opacity: 0.8;
    transition: all 0.2s ease-in-out;

}
.dashboard-actions div:hover {
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2), 0 4px 16px 0 rgba(0, 0, 0, 0.19);
    opacity: 1;
    transform: scale(1.05);
}
.dashboard-actions img {
    width: 60px;
    align-self: center;
}
.dashboard-actions p {
    font-size: 17px;
    text-align: center;
}

/*Update Proflie Details*/
.upload-button {
    display: flex;
    justify-content: center;
    align-self: center;
    padding-left: 40px;
}

/*Create Job Application, Update User Details and Edit Job*/
.job-application-container, .update-details-container, .edit-job-container {
    width: 60vw;
    padding: 20px;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.job-application-container .form-group label, .update-details-container .form-group label {
    margin-left: 12px;
}
.application-button {
    width: 220px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
    text-align: center;
}
.update-details-container input[type="submit"] {
    width: 100px;
}

/*Admin Index*/
.resume-button {
    width: 210px !important;
    padding-bottom: 100px;
}

.review-application-container {
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 30px;
    background-color: white;
    margin-top: 10px;
}
.review-application-container input[type="submit"] {
    width: 120px;
}

.form-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 33%;
}
.form-group label {
    margin: 0 36px 5px 0;
    width: 80%;
}
.form-group input {
    width: 90%;
}

/*Edit Job*/
.edit-job-container .form-group label {
    margin-right: 10px;
}

.edit-job-container .form-row {
    display: flex;
    justify-content: space-around;
}
.row-1, .row-2, .row-4, .row-3, .row-5 {
    width: 85%;
    margin-bottom: 30px;
}
.row-1 input {
    width: 300px;
    margin-right: 30px;
}
.row-1 label {
    width: 300px;
}
.row-2 {
    align-items: flex-start;
    padding-left: 13px;
}
.row-2 input {
    width: 100%;
}
.row-5 label {
    margin-left: 460px;
}
.row-5 .checkbox {
    margin-top: -30px;
    width: 40px;
    margin-left: 280px;
}


/*Footer*/
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-top: 1px solid #ebebf2;
  font-size: 13px;
  color: white;
  position: fixed;
  bottom: 0;
  padding: 0 25px;
  background-color: #042331;
  z-index: 3;
}

.footer-text,
.footer-logo-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 210px;
  color: rgba(125, 122, 158, 1);
}
.footer-text {
  width: 300px;
}
.footer-logo-container img {
  cursor: pointer;
  color: white;
  height: 25px;
  width: 26px;
  opacity: 0.8;
  transition: opacity 0.2s ease-in-out;
}
.footer-logo-container img:hover {
  opacity: 1;
  transform: scale(1.05);
  color: white;
}
footer a {
  text-decoration: none !important;
  color: white;
  opacity: 0.7;
  transition: all 0.2s ease-in-out;
}
footer a:hover {
  opacity: 1 !important;
  color: white;
}
footer p {
    padding-top: 13px;
}
